{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">
        <h1 class="mb-5 text-center">OBSERVATORIO DE DATOS ECONÓMICOS</h1>
        <h5 class="text-center">If you want to download the excel file, click on the button below.</h5>
        <form action="" method="post" class="d-flex justify-content-center">
            {% csrf_token %}
            <button type="submit" name="btnDlExcel" class="btn btn-primary btn-lg mb-4">Download Series List (Excel file)</button>
        </form>

        <h5 class="mt-4 text-center">In order to generate/download the image, please input the codes and date range.</h5>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="row mt-3">
                <div class="col">
                    {{ form.serie1 }}
                    {% for error in form.serie1.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ form.serie2 }}
                    {% for error in form.serie2.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    {{ form.serie3 }}
                    {% for error in form.serie3.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ form.serie4 }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    {{ form.datepicker1 }}
                    {% for error in form.datepicker1.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ form.datepicker2 }}
                    {% for error in form.datepicker2.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-danger" name="btnGenGraph">Generate Graph</button>
                <button type="submit" class="btn btn-success ml-3" name="btnDlImage">Download Image</button>
                <button type="submit" class="btn btn-info ml-3" name="btnDlData">Download Data</button>
            </div>
        </form>
        <div class="my-5 d-flex justify-content-center">
            {{ graph|safe }}
        </div>
    </div>
    <script>
        $(function() {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm"
            });

            $("button.btn-dl-excel").click( function (e) {
                $('form').attr('action', "{% url 'vizapp:download-excel' %}");
                $('form').submit();
            });
        });

    </script>
{% endblock %}
