{% extends 'base.html' %}
{% block content %}
    <div class="container py-3">
        <h3 class="mx-auto mb-4">VizAPP Generator</h3>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="btnDlExcel" class="btn btn-primary mb-4">Download Series List (Excel file)</button>
        </form>

        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.serie1 }}
                    {% for error in form.serie1.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ form.serie2 }}
                    {% for error in form.serie2.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    {{ form.serie3 }}
                    {% for error in form.serie3.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ form.serie4 }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    {{ form.datepicker1 }}
                    {% for error in form.datepicker1.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ form.datepicker2 }}
                    {% for error in form.datepicker2.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary" name="btnGenGraph">Generate Graph</button>
                <button type="submit" class="btn btn-success" name="btnDlImage">Download Image</button>
                <button type="submit" class="btn btn-info" name="btnDlData">Download Data</button>
            </div>
        </form>
        <div class="my-5 d-flex justify-content-center">
            {{ graph|safe }}
        </div>
    </div>
    <script>
        $(function() {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm"
            });

            $("button.btn-dl-excel").click( function (e) {
                $('form').attr('action', "{% url 'vizapp:download-excel' %}");
                $('form').submit();
            });
        });

    </script>
{% endblock %}
